<head>
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body id="bodyshow">
    
    <h2><%= @todo.description %></h2>
    <!--<span class="pomodoro-estamate"><h4><%= @todo.pomodoro-estimate %></h4> Pomodoros </span>-->
    <h4><%= @todo.pomodoro-estimate %></h4>
    <!--<h3>Todo #<%= params[:id]%></h3>-->

    <input type="checkbox"/>
    <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
    <a>Delete</a>
    <a href="https://todo-app-back-end-maximo100100.c9users.io/todo/index"> Return </a>    
    
</body>